{% extends "base.html" %}

{% block content %}
    <turbo-frame id="about_name">
        <h1>Mohsen Safari</h1>
    </turbo-frame>            

        <hr>
        
    <turbo-frame id="contact_info">        
        Email: mstafreshi@hotmail.com <br>    
        Website: <a href="https://www.dokaj.ir" target=_blank>https://www.dokaj.ir</a> <br>
        Github: <a href="https://www.github.com/mstafreshi" target=_blank>https://www.github.com/mstafreshi</a> <br>
    </turbo-frame>        
{% endblock %}
